@import 'src/assets/styles/variables';

.header-navigation-sticky-desktop {
  .desktop-logo-sticky {
    display: none;
  }
  .header-navbar-icons {
    display: none;
  }
  &.active {

    .header-navbar-icons {
      .icon-search-white {
        display: inline-block;
      }
    }

    .desktop-logo-sticky {
      display: flex;
    }

    ul[class*=-navbar]:before {
      background: $black;
    }

    li[class*=-listItem-navbarItem] {
      color: $white;
      &:hover {
        background: $semitransparent-white;
      }

      & > a {
        color: $white;
      }
    }

    .header-navbar-icons {
      display: flex;
    }

  }
}


@media screen and (max-width: $mobile-screen-width-break-point) {

  .header-navigation-sticky-desktop {
    display: none;
  }

}
