@import 'src/assets/styles/variables';


.arrow-box {
  &:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $secondaryLight;
    border-width: 5px;
    margin-left: -19px;
  }
}

//                                ^
// =========================================
// =            mini cart data             =
// =========================================
body[dir=ltr] {
  .arrow-box {
    &:after {
      left: 231px;
    }
  }
}

//        ^
// =========================================
// =            mini cart data             =
// =========================================
body[dir=rtl] {
  .arrow-box {
    &:after {
      left: 96px;
    }
  }
}
