@import 'src/assets/styles/variables';

.icon-my-cart {
  display: inline-block;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position-x: -188px;
  background-position-y: 2px;
}

.icon-wishlist {
  display: inline-block;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: -35px;
}

.icon-my-account {
  display: inline-block;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position-x: -36px;
  background-position-y: 2px;
}