@import 'src/assets/styles/variables';

.icon-home {
  display: inline-block;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position-x: -183px;
  background-position-y: -253px;
  margin-right: 5px;
}