@import 'src/assets/styles/variables';

.icon-shipping-returns {
  display: inline-block;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 32px;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: -110px;
}

.icon-help-faq {
  display: inline-block;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 32px;
  background-repeat: no-repeat;
  background-position-x: -200px;
  background-position-y: -110px;
}
