@import 'src/assets/styles/variables';

.pagination {
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    margin: 0 8px;

    .page-link {
      background: transparent;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }

    &.active {
      color: $white;
      .page-link {
        background-color: $black;
      }
    }
  }
  .page-link {
    padding: 0;
    background: transparent;
    border: 1px solid $black !important;
    color: $black;
    min-width: 31px;
    text-align: center;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .pagination-prev {
    position: absolute;
    left: 0;
    top: 0;

    .page-link {
      border: none !important;
      &:hover {
        background-color: transparent;
        color: $black;
      }
    }
  }

  .pagination-next {
    position: absolute;
    right: 0;
    top: 0;
    .page-link {
      border: none !important;
      &:hover {
        background-color: transparent;
        color: $black;
      }
    }
  }

  .pagination-first,
  .pagination-prev,
  .pagination-next,
  .pagination-last {
    .page-link {
      font-size: 16px;
      color: $black;
      display: flex;
      //visibility: hidden;
      & > span:first-child {
        display: flex;
      }
      &:before {
        visibility: visible;
      }
    }
  }

  .pagination-first .page-link {
    &:before {
      content: "<<";
      visibility: visible;
    }
  }
  .pagination-prev .page-link {
    &:before {
      content: "";
      height: 20px;
      width: 20px;
      display: inline-block;
      visibility: visible;
      background-image: $iconSpriteUrl;
      background-repeat: no-repeat;
      background-position-x: -185px;
      background-position-y: -149px;
      transform: rotate(90deg);
    }
  }
  .pagination-page {
    //margin: 0 8px;

    &.active {
      .page-link {
        background-color: transparent;
        color: $white;
      }
    }
  }
  .pagination-next .page-link {
    &:after {
      content: "";
      height: 20px;
      width: 20px;
      display: inline-block;
      visibility: visible;
      background-image: $iconSpriteUrl;
      background-repeat: no-repeat;
      background-position-x: -185px;
      background-position-y: -149px;
      transform: rotate(-90deg);
    }
  }
  .pagination-last .page-link {
    &:before {
      content: ">>";
      visibility: visible;
    }
  }
}

.pagination__counter {
  display: flex;
  align-items: center;
  & > span {
    margin-right: 15px;
  }
}

.pagination-block-wrap {
  clear: both;
  margin-top: 25px;
  width: 100%;
}

.page-size-block {
  display: flex;
  align-items: center;
}

.page-size-info {
  margin-right: 16px;
}

.pagination-sm .page-item:first-child .page-link {
  display: flex;
  align-items: center;
}

.pagination-sm .page-item:last-child .page-link {
  display: flex;
  align-items: center;
}

.pagination.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
}

.pagination.pagination-sm .page-item:first-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
}

.pagination.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body[dir=rtl] {
  .pagination {
    .pagination-prev {
      left: auto;
      right: 0;
      .page-link:before {
        transform: rotate(-90deg);
      }
    }

    .pagination-next {
      right: auto;
      left: 0;
      .page-link:after {
        transform: rotate(90deg);
      }
    }
  }
}

