$iconSpriteUrl: url("https://fiver.media/wow/front_img/icons_sprite_12_05_svg.svg");

$base-header-color: #f8f5f0;
$sub-item-header-menu-border-color: #f2b0a4;
$semitransparent-white: rgba(255, 255, 255, 0.4);
$semitransparent-black: rgba(0, 0, 0, 0.4);
$mobile-screen-width-break-point: 1024px;
$black: #000;
$error-red: #fd471d;
$white: #ffffff;
$secondaryLight: #f8f8f8;
$light-pink: #fddad4;
$light-pink-darken: #f2b0a4;

$secondaryText: #5e6367;
