@import 'src/assets/styles/variables';

.icon-hamburger {
  display: none;
  cursor: pointer;
  background-image: $iconSpriteUrl;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 2px;
}

@media screen and (max-width: $mobile-screen-width-break-point) {

  .icon-hamburger {
    display: inline-block;
  }

}
